h1 {
font-family: Avenir Next;
font-size: 4em;
color: #75C6C6;
font-weight: lighter;
letter-spacing: -0.07em;
position: relative;
margin-top: 0.3em;
margin-left:0.6em;
}

.container > div {
  display: inline-block;
   width: 25%;
   text-align: right;
   text-decoration: none;
}


.shortcuts{
font-family: Avenir Next;
font-size: 1em;

}

a:hover {
color: #75C6C6;
}



p{
font-family: Avenir Next;
}