h1 {
font-family: Avenir Next;
font-size: 4em;
color: #75C6C6;
font-weight: lighter;
letter-spacing: -0.07em;
position: relative;
margin: 0.3em 0em 0 em 0.6em
}

div{
display: inline-block;
}

.shortcuts{
position:relative;
margin-left: 0.5em;
font-family: Avenir Next;
font-size: 1em;
display: inline-block;
margin: 0.em 1.7em 0.5em 1.7em;
}

#home{
position: absolute;
 margin-left: 1em;
}

p{
font-family: Avenir Next;
}