h1 {
font-family: Avenir Next;
font-size: 4em;
color: #75C6C6;
font-weight: lighter;
letter-spacing: -0.07em;
position: relative;
margin: 0.6em 0.2em 0.2em 0.6em;
display: inline-block;
float: left;
}

/container > div {

  /* width: 25%;
   text-align: right;*/
}





.shortcuts{
font-family: Avenir Next;
font-size: 1em;
float: right;
display: inline-block;
margin: 5.4em 4em 0.2em 0.7em;
}

a{
color: black;
text-decoration:none;
}

a:hover {
color: #75C6C6;
text-decoration: none;
}


.aboutme > *{
position:relative;
font-family: Avenir Next;
display: inline-block;
text-align:left;
float:right;
margin: 1em 1em 1em 1em;
}

#hello{
font-size: 3em;
color: #282828;
/*left: 10em;
top: 1em;
right: 2em;
bottom: 1em;*/
font-weight: lighter;
display: inline-block;
position:relative;
font-family: Avenir Next;
text-align:left;
float:right;
margin: 1em 1em 1em 1em;

}

#school {
top: 6em;
/*top: 0.5em;
left: 29.63em;
right: 2em;
bottom: 1em;*/
margin: 0.5em 0.5em 0.5em 0.5em;
width: 30em;
clear:right;
}

#personal {
margin: 0.5em 0.5em 0.5em 0.5em;
/*top: 4em;
left: -1.5em;
right: 2em;
bottom: 1em;*/
width: 30em;
clear:right;
}
#thanks {
/*top: 4em;
left: 2em;
right: 2em;
bottom: 1em;*/
width: 30em;
clear:right;
}

#me{
float: left;
display: inline-block;
margins: 2em 1em 1em 1em;
border-radius: 50%;
height: 450px;
width: 450px;
background-position: 50%;
background-image: url('images/ned.jpg');
top: 20em;
position: relative;
}

#me:hover {
height: 450px;
width: 450px;
background-position: 50%;
background-image: url('images/ned.jpg');

}